@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./imgs/home-background.svg');
  height: 100vh;
  background-size: cover;
}

.login-container {
  max-width: 23rem;
  padding: 1rem;
  margin: 50px auto;
  border: 2px solid #333;
  border-radius: 10px;
}

.container {
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1.5px solid #333;
}

.brand {
  cursor: pointer;
}

.greeting-container {
  max-width: 20rem;
  margin: 0 auto;
  position: relative;
}

.day-weather {
  display: flex;
  justify-content: space-between;
}

.day-info p {
  font-size: 18px;
  padding-left: 20px;
  margin: 0;
}

.weather-info p {
  font-size: 18px;
  padding-right: 20px;
  margin: 0;
}

.greeting {
  text-align: center;
  padding-top: 25px;
}

.card-container {
  max-width: 35rem;
  padding: 15px;
  margin: 25px auto;
  border: 1px solid #333;
  border-radius: 10px;
}

.todo-form {
  width: 100%;
  margin: auto;
  height: 100%;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: beige;
  margin: 10px auto;
  padding: 15px 25px 15px;
  background-color: #362b2b;
  border-radius: 50px;
}

.items p {
  font-size: 15px;
  margin: 0;
}

