html {
  background: url('../imgs/home-background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1.5px solid #333;
}

.grid-container {
  color: beige;
  background: #362b2b;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 7px 7px 7px #121212;
}

.items {
  max-width: 33rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: beige;
  margin: 10px auto;
  padding: 15px 10px;
  background-color: #362b2b;
  border-radius: 10px;
}

.items p {
  font-size: 14px;
  margin: 0;
}
