.container {
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.card-container {
  max-width: 33rem;
  height: 100%;
  padding: 15px;
  margin: 10vh auto;
  border: none;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.todo-form {
  width: 100%;
  margin: auto;
  height: 100%;
}

.items {
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  align-items: center;
}

.items p {
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
}

.date-reminder {
  width: 300rem;
}